한글찍기

In [ ]:
print("Hello World !!!")

In [ ]:
print("한글")

In [ ]:
%%writefile flask_ts.py
from flask  import Flask

app = Flask('__name__')

@app.route('/')
def hello() :
    return " Hello Flask Jupyter Notebook"
    
if  __name__ == '__main__' :
    app.run()

In [ ]:
!pip install tensorflow --upgrade

In [ ]:
dir(int)

In [ ]:
(1).__add__(2)

In [ ]:
print(issubclass(bool, int)) 
print(isinstance(True,int))
print(issubclass(int,float))
print(bool.__bases__)

In [ ]:
s = "abc"
print(s.__len__())
print(len(s))
print(s[0])
print(s.__getitem__(0))
print(s[0:2])
print(s[slice(0,2)])
print(s.__getitem__(slice(0,2)))

In [ ]:
(a,b,c) = (10,20,30) 
print(a)

(aa) = (10,20,30)
print(aa)

print(globals())

In [ ]:
d = { 'a': 1}
print(d.__getitem__('a'))
print(d.get('a'))

In [ ]:
print(dir(set))

In [ ]:
a=15
print(a.__truediv__(4))
print(a/4)
print(a.__floordiv__(4))
print(a//4)
print(a.__pow__(2))
print(a**2)
print(divmod(a,4))
print(a.__divmod__(4))

In [ ]:
print(int)
print(bin)
print(oct)
print(hex)
print(float)
print(complex)
print(list)
print(set)
print(tuple)
print(dict)

In [ ]:
d = {'a' : 1}
l = list(d.keys())
print(l)
l1 = list(d.values())
print(l1)

In [ ]:
lt = [(1,2)]
d2 = dict(lt)
print(d2)

In [ ]:
z = zip([1,2,3],[4,5,6])
print(list(z))

In [ ]:
e = enumerate([1,2,3])
print(list(e))

In [ ]:
import math
def circle(r) :
    return math.pi * r**2

print(circle(5))

In [ ]:
True.__and__(True)

In [ ]:
True & True

In [ ]:
(2) and (3)

In [ ]:
(2) or (3)

In [ ]:
'' and (3)

In [ ]:
'' or (3)

In [ ]:
my = [ 1,2,3]
print(my.__contains__(3))
print(my.__contains__(4))
print(not my.__contains__(4))

d = {'a': 1}
print(d.__contains__('a'))
print(list(d.keys()).__contains__('a'))
print(list(d.values()).__contains__(1))

In [ ]:
a = 10
print(repr(a))
print(str(a))
print(id(a))

In [ ]:
print((10,20)[False])
print({True:20, False:10}[False])
print(20 if True else 10)

In [ ]:
a = input('a')
b = input('b')
c = abs(int(a)) + abs(int(b))
print(c)

In [ ]:
a = input('a')
b = a.split()

c = abs(int(b[0])) + abs(int(b[1]))
print(c)

In [ ]:
a = input('a')
b = a.split()
#삼항연산자
def abs_r(r) :
    return r if r >0 else -1 *r
c = abs_r(int(b[0])) + abs_r(int(b[1]))
print(c)

In [ ]:
a= 10

if 0< a <3 :
    print('a < 3')
elif a == 3 :
    print(" a == 3")
else :
    print(" a > 3")

In [ ]:
a = 88
if 90 <=  a  <= 100 :
    print('A')
elif 80 <=  a  <= 89 :
    print(" B")
elif 70 <=  a  <= 79 :
    print(" C")
elif 60 <=  a  <= 69 :
    print(" D")
else :
    print(" F")

In [ ]:
c = 100
a = c//10 * 10
d = {100: 'A',90 : 'A', 80 : 'B', 70 : 'C', 60 : 'D'}
print(d.get(a,'F'))

In [ ]:
print(int.__pos__(-1))
print(int.__neg__(-1))

In [ ]:
a=1
print(a.__neg__().__pos__())
-+a

a = 10
print(globals()['a'])
for a in [1,2,3] :
    print(a)
print(a)
print(globals()['a'])

In [ ]:
d= {1:2}
list(d.keys())

In [ ]:
dir(range)

In [ ]:
n = range(0,10)
print(n.start)
print(n.stop)
print(n.step)
print(n.index(3))
print(type(n))

In [ ]:
a = iter(n)
print(next(a))

In [ ]:
n= 10
for a in range(1,n+1) :
    if n % a == 0 :
        print(a)

In [ ]:
data = [{'name': "홍길동",'age': '30'}, 
       {'name': "홍길수",'age': '30'}, 
        {'name': "홍길서",'age': '30'},
       ]
for dt in data :
    print("이름: %(name)s 나이 : %(age)s " % dt)

In [ ]:
a = [ n for n in range(1,m+1) if m %n == 0]
print(a)

In [ ]:
def fn() :
    print("func call")
    
fn.__call__()

In [ ]:
def mysum(x:int, y:int) -> int :
    var_tp = mysum.__annotations__
    if type(x) == var_tp['x'] :
        print('int')
    else :
        raise Exception(" not int")
        
    if type(y) == var_tp['y'] :
        print('int')
    else :
        raise Exception(" not int") 
        
    result = x+y 
    if type(result) == var_tp['return'] :
        print("int")
    return result

print(mysum(30,20))
print(mysum(30.1,10))

In [ ]:
print(mysum.__annotations__)

In [ ]:
def yak(n) :
    return [a for a in range(1,n+1) if n % a == 0 ]
print(yak(12))

In [ ]:
def minimum(*args) :
    a= []
    for x in args : 
        a.append(x)
    a.sort()
    return a.pop(0)
print(minimum(4,5,6,1))

In [ ]:
def maximum(*args) :
    a= []
    for x in args : 
        a.append(x)
    a.sort()
    return a.pop()
print(maximum(4,5,6,1))

In [ ]:
g = 10
def fn() :
    g= 100
    print(locals()['g'])
    
fn()
print(globals()['g'])

In [ ]:
l= []
i =0
def in_pro() :
    global i
    product_name = input(" 제품명")
    product_count = input(" 수량 ")
    date = input('날짜')
    a = product_name, product_count, date
    l.append(a)
    i+=1
    
def product_print(l,i) :
    head = 0
    for x in range(0,i) : 
        if head == 0 :
            print('-'* 48)
            print(" %12s %12s %16s " % ("제품명","수량","날짜  "))
            print('-' * 48)
            head = 1
        print(" %12s %12s %16s " % (l[x][0],l[x][1],l[x][2]))
        print('-' * 48)

while True : 
    in_pro()
    a = input(" 계속하겠습니까")
    product_print(l,i)
    if a == 'No' :
        break

In [ ]:
def fn1(a=10,b=20) :
    print(locals())
    
print(fn1.__defaults__)
fn1()

In [ ]:
help(print)

In [ ]:
def fn2(a,b,*args) :
    print(locals())
    
fn2(1,2,3,4)

In [ ]:
def fn3(*args, **kwargs) :
    print(locals())
    
fn3(10,20,a=1,b=2)

In [ ]:
a, *b, c = 1,2,3,4
print(a)
print(b)
print(c)

In [ ]:
a, *b = 1, {1:2,2:2},1
print(a)
print(b)

In [ ]:
%%writefile mymodule.py
def hap(a,b) :
    return a+b

def gop(a,b) :
    return a*b

print("my module...")

In [ ]:
import mymodule as my
import sys

#sys.path.append(r"C:\Users\Administrator\python_test")
#sys.path.pop()
#print(sys.path)
print("Hello")
print(my.__name__)
print(__name__)
print(my.hap(5,5))
print(my.gop(5,5))

In [ ]:
!pwd

In [ ]:
!cwd

In [ ]:
!ls

In [ ]:
!cd

In [ ]:
import py_compile

In [ ]:
py_compile.compile('a.py')

In [ ]:
%%writefile a.py
def add(x,y) :

In [ ]:
a=1
b = 2
def add(a,b) :
    return a+ b
print(a+b)
a.__add__(b)
import inspect

print(inspect.getsource(add))

In [ ]:
class Test:
    a = 20
    b = 30
    def __init__(self) :
        pass
    
t = Test()
t.a = 100
t.b = 200
print(Test.__dict__)
print(Test.a)
print(t.__dict__)
print(t.a)
print(t.__init__.__self__)
print(Test.__init__.__self__)

In [ ]:
a= 10
print(id(a))
b = 10
print(id(b))
print(id(10))
del(a)
del(b)
a = 10
print(id(a))

In [ ]:
!pip list

In [ ]:
!pip install mysql-connector --upgrade

In [ ]:
import mysql.connector as mysql

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
!pip list

In [ ]:
import sqlite3

In [ ]:
db = sqlite3.connect('my.db')

In [ ]:
cur = db.cursor()

In [ ]:
sql = "create table student(name text, age int)"
cur.execute(sql)

In [ ]:
db.commit()
db.close()

In [ ]:
dir(cur)

In [ ]:
def createTable() :
    try :
        db = sqlite3.connect('my.db')
        cur = db.cursor()
        sql = "create table student(name text, age int)"
        cur.execute(sql)
        db.commit()
        db.close()
        print("create sucess")
    except Exception as err :
        print('error ', err)
        
def insertTable() :
    try :
        db = sqlite3.connect('my.db')
        cur = db.cursor()
        sql = "insert into student(name, age) values(?,?)"
        data = ('이순신',40)
        cur.execute(sql,data)
        db.commit()
        db.close()
        print("insert sucess")
    except Exception as err :
        print('error ', err)

def bulk_insertTable() :
    try :
        db = sqlite3.connect('my.db')
        cur = db.cursor()
        sql = "insert into student(name, age) values(?,?)"
        data = [('김철수7',50),('김철수8',60),('김철수9',70)]
        cur.executemany(sql,data)
        db.commit()
        db.close()
        print("insert bulk sucess")
    except Exception as err :
        print('error ', err)
        
#insert        
#insertTable()
#bulk insert
bulk_insertTable()

In [ ]:
import sqlite3
def selectTable() :
    try :
        db = sqlite3.connect('my.db')
        cur = db.cursor()
        sql = "select * from student"
        cur.execute(sql)
        data = cur.fetchall()
        print(data)
        for dt in data :
            print("이름: %s 나이: %d" % (dt[0], dt[1]))
        db.close()
        print("select fetch all sucess")
    except Exception as err :
        print('error ', err)
        
selectTable()

In [ ]:
import sqlite3
def select_curTable() :
    try :
        db = sqlite3.connect('my.db')
        cur = db.cursor()
        sql = "select * from student"
        cur.execute(sql)
        
        for dt in cur :
            print("이름: %s 나이: %d" % (dt[0], dt[1]))
        db.close()
        print("select cur sucess")
    except Exception as err :
        print('error ', err)
        
select_curTable()

In [ ]:
import sqlite3
def deleteTable() :
    try :
        db = sqlite3.connect('my.db')
        cur = db.cursor()
        sql = "delete from student where age= ?"
        data = (40,)
        cur.execute(sql,data)
        
        db.commit()
        db.close()
        print(" delete sucess")
    except Exception as err :
        print('error ', err)
        
deleteTable()

In [ ]:
import sqlite3
def updateTable() :
    try :
        db = sqlite3.connect('my.db')
        cur = db.cursor()
        sql = "update student set name=? where age=?"
        data =("파이썬2",60)
        cur.execute(sql,data)
        
        db.commit()
        db.close()
        print(" update sucess")
    except Exception as err :
        print('error ', err)
        
updateTable()

In [ ]:
import mysql.connector as mysql
# 기본 port는 부여하지 않아도 됨
config={'user': 'root', 'password':'1234',
        'host':'127.0.0.1', 'database':'world'}
db = mysql.connect( **config)

In [ ]:
import mysql.connector as mysql

def insertTable() :
    try :
        # 기본 port는 부여하지 않아도 됨
        config={'user': 'root', 'password':'1234',
        'host':'127.0.0.1', 'database':'world'}
        db = mysql.connect( **config)
        
        cur = db.cursor()
        sql = "insert into student(name, age, birth) values(%s,%s,%s)"
        data = ('이순신', 40 , "1980-02-11")
        cur.execute(sql,data)
        db.commit()
        db.close()
        print("insert sucess")
    except Exception as err :
        print('error ', err)
        
insertTable()

In [ ]:
import mysql.connector as mysql

def select_curTable() :
    try :
         # 기본 port는 부여하지 않아도 됨
        config={'user': 'root', 'password':'1234',
        'host':'127.0.0.1', 'database':'world'}
        db = mysql.connect( **config)
        cur = db.cursor()
        sql = "select * from student"
        cur.execute(sql)
        
        for dt in cur :
            print("이름: %s 나이: %d 일자 %s " % (dt[0], dt[1], dt[2]))
        db.close()
        print("select cur sucess")
    except Exception as err :
        print('error ', err)
        
select_curTable()

In [ ]:
import mysql.connector as mysql

def bulk_insertTable() :
    try :
         # 기본 port는 부여하지 않아도 됨
        config={'user': 'root', 'password':'1234',
        'host':'127.0.0.1', 'database':'world'}
        db = mysql.connect( **config)
        cur = db.cursor()
        sql = "insert into student(name, age, birth) values(%s,%s,%s)"
        data = [('김철수7',50,'2000-09-22'),('김철수8',60,"1945-08-11"),
                ('김철수9',70,"1935-08-11")]
        cur.executemany(sql,data)
        db.commit()
        db.close()
        print("insert bulk sucess")
    except Exception as err :
        print('error ', err)
        
bulk_insertTable()

In [ ]:
import mysql.connector as mysql

def updateTable() :
    try :
         # 기본 port는 부여하지 않아도 됨
        config={'user': 'root', 'password':'1234',
        'host':'127.0.0.1', 'database':'world'}
        db = mysql.connect( **config)
        cur = db.cursor()
        sql = "update student set name=%s where age=%s"
        data =("파이썬2",60)
        cur.execute(sql,data)
        
        db.commit()
        db.close()
        print(" update sucess")
    except Exception as err :
        print('error ', err)
        
updateTable()

In [ ]:
import mysql.connector as mysql
def selectTable() :
    try :
         # 기본 port는 부여하지 않아도 됨
        config={'user': 'root', 'password':'1234',
        'host':'127.0.0.1', 'database':'world'}
        db = mysql.connect( **config)
        cur = db.cursor()
        sql = "select * from student"
        cur.execute(sql)
        data = cur.fetchall()
        print(data)
        for dt in data :
            print("이름: %s 나이: %d  년: %s 월: %s 일:%s " % (dt[0], dt[1], 
                                              dt[2].year, dt[2].month, dt[2].day))
        db.close()
        print("select fetch all sucess")
    except Exception as err :
        print('error ', err)
        
selectTable()

In [ ]:
import mysql.connector as mysql
def deleteTable() :
    try :
         # 기본 port는 부여하지 않아도 됨
        config={'user': 'root', 'password':'1234',
        'host':'127.0.0.1', 'database':'world'}
        cur = db.cursor()
        sql = "delete from student where age= %s"
        data = (60,)
        cur.execute(sql,data)
        
        db.commit()
        db.close()
        print(" delete sucess")
    except Exception as err :
        print('error ', err)
        
deleteTable()

In [ ]:
from flask import Flask
app = Flask(__name__)

@app.route('/')
def myTest() :
    return "Hello Flask !!!"
@app.route('/hi')
def myTest1() :
    return "hi, Flask !!!"

if __name__ == "__main__" :
    app.run()

In [ ]:
from flask import Flask
help(Flask.run)